h1,
h2,
h3,
h4 {
	color: "white";
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto;
	column-gap: 15px;
	row-gap: 15px;
	margin-bottom: 5%;
}

.grid-item {
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 30px;
	text-align: center;
	color: white;
	border-radius: 15px;
	padding: 50px;
}

.grid-item-a {
	grid-column-start: 1;
	grid-column-end: 3;
}

.grid-item-b {
	grid-column-start: 3;
	grid-column-end: 5;
}

.grid-item-c {
	grid-column-start: 1;
	grid-column-end: 2;
}

.grid-item-d {
	grid-column-start: 2;
	grid-column-end: 5;
}

.grid-item-e {
	grid-column-start: 1;
	grid-column-end: 5;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
	margin-bottom: 15px;
}

.flex-item-a {
	flex-grow: 1;
}

.flex-item-b {
	flex-grow: 1;
}

.flex-item-c {
	width: 20vw;
}

.flex-item-d {
	flex-grow: 1;
}

.flex-item-e {
	flex-grow: 1;
}
